.lang_output{
    height: 40px;
    padding: 10px 15px;
    background-color: #fff;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang_input{
    height: 40px;
    border: 1px solid lightgray;
    padding: 10px 15px;
    background-color: #fff;
    font-size: 18px;
}

.lang_input:focus-visible{
    outline: none;
    border: 0;
    background-color: beige;
}
    